@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@main-bg: rgba(4, 14, 26, 0.97);

@base-color: rgba(13, 48, 87, 0.97);
@base-bg: rgba(24, 139, 248, 0.14);
@base-border: rgba(24, 139, 248, 0.18);

@primary-color: #f8f8f8;
@primary-bg: #173750;
@primary-border: #122b3e;

@snake-bg: rgba(197, 238, 248, 0.97);
@snake-border: none;
@snake-shadow: rgb(255, 255, 255);

@apple-bg: #f61616;
@apple-shadow: #f1bebe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 30px;
}

body {
  background-color: @main-bg;
}

.main-grid {
  display: grid;

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 20pt;

  color: @base-color;
}

.grid {
  place-content: center;

  display: grid;
  grid-template-columns: repeat(20, var(--cell-size));
  grid-template-rows: repeat(15, var(--cell-size));

  .cell {
    position: relative;

    margin: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);

    background-color: @base-bg;
    border: 1px solid @base-border;
    border-radius: 2px;

    &.snakeBody {
      background-color: @snake-bg;
      border-color: @snake-border;
      box-shadow: 0 0 1px @snake-shadow;

      z-index: 10;

      &.snakeHead {
        &:before, &:after {
          position: absolute;
          content: '';
          background-color: black;
          top: 15%;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          box-shadow: 0 0 0 2px @base-color;
        }
        &:before {
          left: 15%;
        }
        &:after {
          right: 15%;
        }

        &.up {
          transform: rotate(0deg);
        }

        &.right {
          transform: rotate(90deg);
        }

        &.down {
          transform: rotate(180deg);
        }

        &.left {
          transform: rotate(-90deg);
        }
      }
    }

    &.apple:after {
      position: absolute;
      content: '';

      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;

      background-color: @apple-bg;
      box-shadow: 0 0 5px inset @apple-shadow;
      border-radius: calc(100% - 4px);
    }
  }
}

.header {
  place-self: center auto;

  display: flex;
  justify-content: space-between;

  padding: 12px;

  font-size: 1.5rem;

  background-color: @primary-bg;
  color: @primary-color;

  span {
    font-weight: 800;
  }
}

.footer {
  place-self: center;

  padding: 12px;
}

.btn {
  background-color: @primary-bg;
  border: 1px solid @primary-border;
  border-radius: 2px;

  color: @primary-color;
  padding: 6px 12px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.gameOver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 100;

  display: grid;
  place-content: center;

  pointer-events: none;

  > div {
    padding: 24px;

    font-size: 2rem;

    background-color: @apple-bg;
    color: @primary-color;
  }
}
